<html lang="pt-BR">

<head>

    <%- include('common/common-header'); %>
        <%- include('common/common-style'); %>
            <%- include('home/home-style'); %>
                <%- include('home/home-script'); %>

</head>

<body>

    <%- include('home/home-valid'); %>
    <%- include('home/home-form'); %>

</body>

</html>